//$primary: lightblue;

@import "../../node_modules/bootstrap/scss/bootstrap";

/**
simple-slick-slider edit.php
 */
.accordion > .card {
	padding: 0;
	margin-top: 0;
	max-width: 100%;
}
.accordion > .card > .card-header {
	padding: 0;
}
.accordion > .card > .card-header > h2 {
}



.accordion__item {
	background: #fffffe;
	border-radius: 4px;
}
.accordion__item:not(:last-child) {
	margin-bottom: 1px;
}
.accordion__header {
	padding: 10px 50px 10px 10px;
	position: relative;
	cursor: pointer;
	background-color: #5352ed;
}
.accordion__header > h3 {
	font-size: 0.8rem;
	color: #fff;
	margin-bottom: 0;
}
.accordion__header::after {
	font-family: "dashicons", sans-serif;
	content: "\f347";
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	right: 5px;
	top: 0;
	bottom: 0;
	margin: auto;
	color: #fff;
	//background: url("https://cdn.statically.io/gist/koptyaisky/33f5da3d9e6b6cacdf5a353ad033c2ea/raw/c8468a17e0141ee82a2571deea1f76162abb47b6/arrow-down-blue.svg") no-repeat center;
	//background-size: contain;
	transition: all .4s ease;
}
.accordion__body {
	padding: 15px 20px;
	font-weight: 300;
	font-size: 0.875rem;
	color: #5f6c7b;
	line-height: 1.5;
	display: none;
	background-color: #5352ed1a;
}
.accordion__body > p > label {
	font-weight: bold;
}
.open-accordion .accordion__body {
	display: block;
}
.open-accordion .accordion__header::after {
	transform: rotate(-180deg);
}
