//$primary: lightblue;

@import "../../node_modules/bootstrap/scss/bootstrap";

/**
simple-slick-slider edit.php
 */
.accordion > .card {
	padding: 0;
	margin-top: 0;
	max-width: 100%;
}
.accordion > .card > .card-header {
	padding: 0;
}
.accordion > .card > .card-header > h2 {
}
